pkgbase = jetbrains-toolbox-flatpak
	pkgdesc = JetBrains Toolbox for Linux in Flatpak format
	pkgver = 3.7.2
	pkgrel = 1
	url = https://github.com/radioactivepb/jetbrains-toolbox-linux
	install = jetbrains-toolbox-flatpak.install
	arch = x86_64
	license = LicenseRef-proprietary
	depends = flatpak
	depends = util-linux
	provides = jetbrains-toolbox=3.7.2
	conflicts = jetbrains-toolbox
	noextract = com.jetbrains.Toolbox-3.7.2.flatpak
	source = https://github.com/radioactivepb/jetbrains-toolbox-linux/releases/download/v3.7.2/com.jetbrains.Toolbox-3.7.2.flatpak
	source = jetbrains-toolbox
	source = com.jetbrains.Toolbox.desktop
	sha256sums = a6c2ddd44b956c1a00e5f0b4333229893b18fd5b8d71b67ecf1a1b264e0c8d72
	sha256sums = 37cd9a5534ea2c807967f124ce31457dd6f1cc05e4d61e7e3694dd7876017d68
	sha256sums = 59ccb287ef3c792d35b43ec921f6ea315bf56edc14695b5f794b36feab022a8a

pkgname = jetbrains-toolbox-flatpak
